@import url('http://fonts.cdnfonts.com/css/cantarell');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cantarell', sans-serif;
}

.sidenav {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #f2f2f2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sidenav_nav a {
    position: relative;
    display: block;
    padding: 15px;
    padding-left: 35px;
    text-decoration: none;
}

.sidenav_nav {
    margin-top: 30%;
}

.sidenav_nav a:hover {
    color: white;
    background-color: #3c1053ff;
    border-right: 7px solid #df6589ff;
    font-size: 17px;
    letter-spacing: 3px;
    transition: 250ms ease-in-out;
}

.main-content {
    margin-left: 300px;
    padding: 20px;
}

.top-heading {
    color: rgb(175, 49, 87);
    display: flex;
    justify-content: space-between;
}

.stock-form {
    padding: 20px;
    margin: 7px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridcontent {
    margin: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.gridrows {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}

.gridcontent input {
    width: 60%;
    height: 100%;
}

.gridcontent select {
    width: 60%;
}

.submit {
    color: white;
    width: 50%;
    border: none;
    background-color: rgb(55, 194, 55);
    padding: 10px;
    border-radius: 8px;
}

.reset {
    color: white;
    width: 50%;
    border: none;
    background-color: #4e9af1;
    padding: 10px;
    border-radius: 8px;
}

.label {
    padding-top: 5px;
}