@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cantarell', sans-serif;
}

.sidenav {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #f2f2f2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Content {
    margin-top: 60px;
}

.Content a {
    text-decoration: none;
    padding: 20px;
    position: relative;
    display: block;
    color: black;
}

.Content a:hover {
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    letter-spacing: 4px;
    transition: 200ms ease-in-out;
}

.mainbody {
    margin-left: 310px;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}

.content {
    margin-top: 8px;
}

hr {
    margin-top: 5px;
    background-color: red;
    height: 1px;
}

.gridcontent {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
}

input {
    border: none;
    width: 50%;
    height: 30px;
    border-bottom: 1px solid black;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

select {
    width: 50%;
}

.errlabel {
    margin-top: 10px;
    font-size: 13px;
}

.submit {
    text-align: center;
    color: white;
    background-color: #0c73eb;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
}

.reset {
    background-color: #ff6164;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
}

.table {
    margin-top: 20px;
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}

th,
td {
    padding: 15px;
    border: 1px solid black;
}

table {
    /* border-spacing: 5px; */
    width: 100%;
    border-collapse: collapse;
}